:root {
  --font: #403D39;
  --font-shadow: rgba(64, 61, 57, 0.25);
  --prim: #CD8987;
  --prim-shadow: rgba(205, 137, 135, 0.5);
  --sec: #B3DEC1;
  --sec-shadow: rgba(179, 222, 193, 0.25);
  --ter: #E5FCF5;
  --ter-shadow: rgba(229, 252, 245, 0.25);
  --bg: #FEFFFE;
  --bg-shadow: rgba(254, 255, 254, 0.25);
}

/* General */

* {
  font-family: 'Noto Naskh Arabic', serif;

  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Aref Ruqaa', serif;
  text-align: center;

  color: var(--font);
}

p {
  color: var(--font);
}

a {
  color: var(--sec);
}

img.logo {
  width: 3em;
  border-radius: 100%;
  box-shadow: 0px 0px 50px var(--font-shadow);
}

/* Primary */

.btn-primary {
  padding-left: 50px;
  padding-right: 50px;

  background: var(--prim);
  border: 1px solid var(--prim);
  box-shadow: 0px 0px 50px var(--prim-shadow);
  border-radius: 20px;
}

.btn-primary:hover {
  background: var(--sec);
  border: 1px solid var(--sec);
}

.btn-primary:focus {
  background: var(--sec);
  border: 1px solid var(--sec);
}

.btn-primary:active {
  background: var(--prim) !important;
  border: 1px solid var(--prim) !important;
}

.btn-outline-dark {
  border: 1px solid var(--font);
  border-radius: 20px;
}

.btn-outline-dark:hover {
  background: var(--font);
}

.card {
  gap: 32px;
}

/* form */

.form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.form-control {
  width: 30em;

  box-shadow: 0px 0px 50px var(--ter-shadow);
  border-radius: 30px;
}

.hr {
  height: 0px;

  border: 1px solid var(--sec);

  flex-grow: 1;
}

/* auth */

.auth_bg {
  position: relative;
  width: 100vw;
  height: 100vh;

  background: var(--bg);
}

.auth_bg_img {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: url(./assets/auth-bg.jpg), var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.heu {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(112.68deg, var(--sec-shadow) 0%, var(--prim-shadow) 100%);
}

.auth_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

/* dashboard */

.dashboard-bg {
  width: 100vw;
  height: 100vh;

  background-color: var(--ter);
}