:root {
  --font: #403D39;
  --font-shadow: rgba(64, 61, 57, 0.25);
  --prim: #CD8987;
  --prim-shadow: rgba(205, 137, 135, 0.5);
  --sec: #B3DEC1;
  --sec-shadow: rgba(179, 222, 193, 0.25);
  --ter: #E5FCF5;
  --ter-shadow: rgba(229, 252, 245, 0.25);
  --bg: #FEFFFE;
  --bg-shadow: rgba(254, 255, 254, 0.25);
}

/* Primary */

.btn-primary:active {
  background: var(--prim) !important;
  border: 1px solid var(--prim) !important;
}

.btn-outline-dark {
  border: 1px solid var(--font);
  border-radius: 20px;
}

.btn-outline-dark:hover {
  background: var(--font);
}