.dataTable {
    height: 500px;

    padding: 20px;

    .title {
        width: 100%;
        margin-bottom: 10px;

        font-size: 24px;
        color: grey;

        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: rgba(75, 192, 192, 1);
            font-size: 16px;
            font-weight: 400;

            border: 1px solid rgba(75, 192, 192, 1);
            border-radius: 5px;
            padding: 5px 10px;
        }
    }

    .cellWithImg{
        display: flex;
        align-items: center;

        .imgContainer {
            margin-left: 5px;
            position: relative;

            .cellImg {
                width: 30px;
                height: 30px;
                border-radius: 50%;
    
                object-fit: cover;
            }
            
            .status {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid white;

                position: absolute;
                bottom: -5px;
        
                &.true {
                    background-color: rgba(75, 192, 192, 1);
                }
                &.false {
                    background-color: rgba(255, 99, 132, 1);
                }
            }
        }
    }
    
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .view {
            color: rgba(54, 162, 235, 1);
            padding: 2px 5px;
            border-radius: 5px;
            border: 1px solid rgba(54, 162, 235, 0.5);

            cursor: pointer;
        }
        
        .delete {
            color: rgba(255, 99, 132, 1);
            padding: 2px 5px;
            border-radius: 5px;
            border: 1px solid rgba(255, 99, 132, 0.5);
            
            cursor: pointer;
        }
    }

}